$chaos-primary: rgb(129, 33, 219);
$chaos-hover: rgb(100, 16, 179);
$white: white;
$dark: #282c34;
$dark-accent: #312834;

$focus-ring: 0px 0px 0px 2px $chaos-primary;

.crx-class {
  color: pink;
}

#chaos-shopper,
.chaos-primary {
  background: $chaos-primary;
  color: white; 
}