@import '@assets/style/theme.scss';

$toggle-indicator-size: $ui-el-scale; // changing this number will resize the whole toggle
$track-height: $ui-el-height;
$track-width: $ui-el-width;

$highContrastModeSupport: solid 2px transparent;
$speed: 0.25s;

$track-border: $chaos-hover;
$track-background: $dark-accent;

.preload {
    .toggle-indicator {
        transition: none;
    }   
}

// Toggle specific styles
.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;

    &:last-of-type {
        margin: 0;
    }
}

// Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:focus-visible+.toggle-track {
        border: 1px solid transparent;
        box-shadow: $focus-ring;
    }
}

.toggle-track {
    background: $track-background;
    border: 2px solid $track-border;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: $track-height;
    margin-right: 12px;
    position: relative;
    width: $track-width;
}

.toggle-indicator {
    align-items: center;
    background: $white;
    border-radius: $toggle-indicator-size;
    bottom: 2px;
    display: flex;
    height: $toggle-indicator-size;
    justify-content: center;
    left: 2px;
    outline: $highContrastModeSupport;
    position: absolute;
    transition: $speed;
    width: $toggle-indicator-size;
}

.checkmark {
    fill: $chaos-primary;
    height: $toggle-indicator-size;
    width: $toggle-indicator-size;
    opacity: 0;
    transition: opacity $speed ease-in-out;
}

.toggle__input:checked+.toggle-track {
    background: $chaos-hover;

    .toggle-indicator {
        transform: translateX($track-width - $track-height);

        .checkmark {
            opacity: 1;
            transition: opacity $speed ease-in-out;
        }
    }
}

@media screen and (-ms-high-contrast: active) {
    .toggle-track {
        border-radius: 0;
    }
}