@import '@assets/style/theme.scss';

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-weight: 700;
  height: fit-content;
  background-color: $dark;
  color: white;
  
  @mixin set-padding-tb($pad-tb) {
    $pad-lr: 2em;
    padding: $pad-tb $pad-lr;
  }

  main {
    $pad-tb: 1em;
    @include set-padding-tb($pad-tb)
  }
  .popup-header,
  footer {
    $pad-tb: 1em;
    @include set-padding-tb($pad-tb)
  }
}

.popup-header {
  display: flex;
  gap: 0.5em;
  background-color: $chaos-primary;

  h1 {
    margin: 0;
    font-size: 1.5em;
  }

  .logo {
    height: 2em;
  }
}

input {
  &:focus-visible {
    outline: solid 2px $chaos-hover;
  }
}

.buy-percent-input {
  width: 1.75em;
  background: $dark-accent;
  color: $white;
  text-align: end;
  margin-bottom: 1em;
  // border-radius: 3px;

  border-radius: 3px;
  // border: 1px solid transparent;
  // border-top: none;
  // border-bottom: 1px solid $chaos-primary;
  // box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px $chaos-primary, 0 1px 0 $chaos-primary;
  border-right: solid 1px $chaos-hover;
  border-bottom: solid 1px $chaos-hover;
  box-shadow: inset 0 0 2px $chaos-hover;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  +span {
    margin-right: 0.1em;
  }
}

.options-range {
  width: 65vw;
  height: 0.5em;
  accent-color: $chaos-primary;
}

.buy-percent-input-container {
  margin-top: 0.5em;
}