@import "@assets/style/theme.scss";

.content-view {
  font-size: 30px;
}

#chaos-shopper.filtered,
.chaos-primary.filtered {
  -webkit-filter: url("#filter");
  filter: url('#filter')
}

#chaos-shopper:hover,
.chaos-primary:hover {
  background: $chaos-hover;
}

.chaos-primary > span > span{
  color: white !important;
}

.svg-filter {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}