@import "@assets/style/theme.scss";

.content-view {
  font-size: 30px;
}

#chaos-shopper,
.chaos-primary {
  background: blueviolet;
}

.chaos-primary,
.chaos-primary > span > span{
  color: white !important;
}