@import "@assets/style/theme.scss";

.content-view {
  font-size: 30px;
}

#chaos-shopper,
.chaos-primary {
  background: rgb(129, 33, 219);
}

#chaos-shopper:hover,
.chaos-primary:hover {
  background: rgb(100, 16, 179);
}

.chaos-primary,
.chaos-primary > span > span{
  color: white !important;
}